@import './constants.scss';

.svg {
  &__wave {
    &__path {
      fill: $gradientEndingColor;
      fill-opacity: 1;
    }

    &--1 {
      &__path {
        fill: $gradientEndingColor;
        fill-opacity: 1;
      }
    }

    &--2 {
      &__path {
        fill: $gradientBeginningColor;
        fill-opacity: 1;
      }
    }
  }

  &__logo {
    fill: $transparent;
    width: $logoContainerSizeSVG;
    height: $logoContainerSizeSVG;

    stop:nth-child(1) {
      // stop-color: $gradientBeginningColor;
      stop-color: $logoGradientBeginningColor;
    }

    stop:nth-child(2) {
      // stop-color: $gradientEndingColor;
      stop-color: $logoGradientEndingColor;
    }

    &__path {
      stroke-width: 7;
    }
  }
}

.welcome {
  background-image: $welcomeGradient;

  &__container {
    color: $welcomeTitlesColor;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    &__title {
      font-size: $welcomeTitleFontSize;
      margin: 1rem 0;
    }

    &__subtitle {
      font-size: $welcomeSubtitleFontSize;
      margin: 0;
    }

    &__buttons {
      margin-top: 4rem;
    }

    .svg__logo {
      animation: float 6s ease-in-out infinite;
    }
  }
}

.wave {
  background-color: $gradientBeginningColor;
}

.menu {
  &__container {
    $xPadding: 1.3rem;
    $yPadding: .8rem;
    $boxWidth: calc(100% - #{2 * $xPadding});

    padding: $yPadding $xPadding;
    position: fixed;
    width: $boxWidth;
    z-index: 99;

    display: flex;
    flex-direction: row;
    justify-content: start;

    transition: background-color 2s ease;
    &--background {
      background-color: $gradientBeginningColor;
      box-shadow: 0 10px 6px rgba(0, 0, 0, 0.4);;
    }

    &__logo {
      &__anchor {
        text-decoration: none;

        &__title {
          color: $menuOptionColor;
          margin: 0;
          margin-left: 1rem;
        }

        .svg {
          &__logo {
            height: $logoMenuSizeSVG;
            width: $logoMenuSizeSVG;
          }
        }
      }
    }

    &__options {
      .menu-option {
        font-size: $menuOptionFontSize;
        font-weight: 500;
        margin: 0 3rem;
        text-transform: uppercase;

        &__link {
          color: $menuOptionColor;
          text-decoration: none;

          &:hover {
            color: $gradientEndingColor;
            text-decoration: none;
          }
        }
      }
    }

    &__action {
      justify-content: flex-end;

      &__mail-to {
        a {
          color: $menuOptionColor;
          font-size: $menuOptionFontSize;
          font-weight: 500;
          letter-spacing: 2px;
          margin-right: 1rem;
          text-decoration: none;

          &:hover {
            color: $actionButtonHoverTextColor;
          }
        }
      }
    }
  }
}

.action {
  border: solid 4px;
  border-radius: 30px;
  cursor: pointer;
  margin: 1rem 4rem;
  padding: 1rem 4rem;

  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &__primary {
    background-color: $primaryButtonBackgroundColor;
    border-color: $primaryButtonBorderColor;
    color: $primaryButtonTextColor;
  }

  &__secondary {
    border-color: $secondaryButtonBorderColor;
    color: $secondaryButtonTextColor;
  }

  &:hover {
    background-color: $actionButtonHoverBackgroundColor;
    border-color: $actionButtonHoverBorderColor;
    color: $actionButtonHoverTextColor;
  }
}

.language {
  justify-content: flex-end;

  border-left: 2px solid rgba(255, 255, 255, 0.2);
  margin-right: 1rem;
  padding-left: 1rem;

  &__option {
    cursor: pointer;
    color: $primaryButtonTextColor;
    min-width: 2rem;

    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
      color: $actionButtonHoverTextColor;
    }
  }
}

.section, .service {
  background-color: $gradientBeginningColor;
  color: white;
  margin-top: -.3rem;

  &__container {
    padding: 1rem;

    &__points {
      flex-basis: 60%;
      padding: 3rem 0;

      .card {
        background-color: $gradientEndingColor;
        border-radius: 10px;
        box-shadow: $body-box-shadow;
        margin: 1rem;
        padding: 1.5rem;

        flex-basis: 40%;

        &--background-default {
          background-color: $gradientBeginningColor;
        }

        &--background-inverse {
          background-color: $gradientEndingColor;
        }

        &__title {
          margin-bottom: .5rem;
          border-radius: 20px;
          padding: .5rem 1rem;
          width: fit-content;
          text-align: center;
        }

        &__text {
          line-height: 1.5rem;
          text-align: justify;
          text-justify: inter-word;
        }
      }
    }

    &__header {
      flex-basis: 40%;
      z-index: 2;

      &__title,
      &__description {
        text-align: center;
      }
    }
  }

  /** Backgrounds **/

  &.bg-right {
    // background-image: url(../assets/section-bg.svg);
    background-repeat: no-repeat;
    background-position: right bottom;

    &-color {
      background-color: #340867;

      .section__container__header {
        color: white;
      }
    }
  }

  &.bg-left {
    &::before {
      background-position: right bottom;
      // background-image: url(../assets/section-bg.svg);
      background-repeat: no-repeat;
      content: "";
      height: 69.3%;
      position: absolute;
      transform: scaleX(-1);
      width: 100%;
      z-index: 1;
    }

    &-color {
      background-color: $gradientEndingColor;

      .section__container__header {
        color: white;
      }
    }
  }
}

.service {
  &__container {
    &__items {
      margin: 3rem 0;
      .item {
        margin: 1rem 2rem;

        &__icon {
          $icon_size: 5rem;

          border-radius: 100%;
          padding: 1.5rem;
          box-shadow: $body-box-shadow;

          svg {
            width: $icon_size;
            height: $icon_size;
          }
        }

        &__text {
          margin-top:-10%;
          padding: 0 1.5rem;
          min-width: 3rem;
          text-align: center;
        }
      }
    }
  }
}

svg.arrow {
  $icon_size: 3rem;

  cursor: pointer;
  fill: #3a3a3a;
  height: $icon_size;
  width: $icon_size;
  z-index: 4;

  &:hover {
    fill: white;
  }

  &--down {
    transform: rotate(90deg);
  }

  &--left {
    transform: rotate(180deg);
  }

  &--up {
    transform: rotate(-90deg);
  }
}
