/* ------ Colors ------ */

$transparent: #ffffff00;
$gradientBeginningColor: #1C1A1F;
$gradientEndingColor: #222025;
$welcomeGradient: linear-gradient(to top, $gradientEndingColor 0%, $gradientEndingColor 100%);
$menuOptionColor: white;
$welcomeTitlesColor: white;

$primaryButtonBorderColor: #ffc107;
$primaryButtonBackgroundColor: #ffc107;
$primaryButtonTextColor: white;

$secondaryButtonBorderColor: white;
$secondaryButtonTextColor: white;

$actionButtonHoverBorderColor: white;
$actionButtonHoverBackgroundColor: white;
$actionButtonHoverTextColor: $gradientEndingColor;

/* ------ Fonts ------ */

$baseFontSize: 1rem;
$menuOptionFontSize: 1.3rem;
$welcomeTitleFontSize: 6rem;
$welcomeSubtitleFontSize: $welcomeTitleFontSize * 0.4;

/* ------ SVG ------ */

$logoContainerSizeSVG: 19.25rem;
$logoMenuSizeSVG: 3rem;
$logoGradientBeginningColor: white; // $gradientBeginningColor;
$logoGradientEndingColor: white; // $gradientEndingColor;

/* ------ SHADOWS ------ */
$body-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
