@charset "UTF-8";
@import './constants.scss';
@import './components.scss';
@import './utilityClasses.scss';

body {
  margin: 0;
	// font-family: system-ui, sans-serif;
	font-family: "Montserrat", Sans-serif;
  background-color: $gradientBeginningColor;
}

* {
	scroll-behavior: smooth;
}


@keyframes float {
	0% {
		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		// box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.decorator {
  &--red {
    background-color: #362626;
    color: #D55C4A;
  }

  &--yellow {
    background-color: #3A362D;
    color: #F9E077;
  }

  &--blue {
    background-color: #272639;
    color: #6165D6;
  }

  &--green {
    background-color: #2E2F2D;
    color: #85DD91;
  }

  &--purple {
    background-color: #553257;
    color: #D23CD6;
  }

  &--orange {
    background-color: #574436;
    color: #D68344;
  }
}
